.dashboard{
    z-index: 1;
}
.d-block{
    width: 100vw;
    height: 100vh;
}
.dropdown{
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn{
    position: absolute;
    z-index: 2;
    position: absolute;
    background: none;
    border: 2px solid;
    width: 400px;
    height: 65px;
    font-size: 30px;
    &:hover{
        background: none;
        border-color: #fff;

    }
}
.dropdown-toggle::after{
    content: none;
}